html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.create-page-wrapper {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 3rem;
}